.multiSelect {
  position: relative;
  display: inline-block;
  width: 250px;
}

.multiSelect-input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.multiSelect-values {
  padding: 10px;
  height: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiSelect-input input {
  width: 100%;
  padding: 10px;
  height: 38px;
  border: none;
  border-radius: 5px;
}

.multiSelect-options {
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 200px;
  overflow-y: auto;
  min-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgb(0 0 0 / 25%);
  background: white;
}
